<h2>To-Do List</h2>
<ul class="">
    <li *ngFor="let item of items$ | async">
      <input type="checkbox" [(ngModel)]="item.completed" [checked]="item.completed" (change)="editTask(item)">
      <span class="">{{item.name}}</span>
      <a routerLink="/items/edit/{{item.id}}" routerLinkActive="active">Editar</a>
      <a (click)="deleteTask(item.id)" routerLinkActive="active">Eliminar</a>
    </li>
</ul>

<form>
    <input  placeholder="New Task" [(ngModel)]="newTask" name="newTask">
    <button type="button" (click)="createTask()" [disabled]="!newTask" >Add</button>
</form>
  
