<h3>Folders</h3>

<div class="row" *ngFor="let folder of folders$ | async">
  <span> - {{folder.name}}</span>
  <span><a routerLink="/folders/get/{{folder.id}}">View items</a></span>
  <span><a (click)="deleteFolder(folder.id)">Remove</a></span>
</div>


<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <input class="form-control" placeholder="New Folder" [(ngModel)]="newFolder" name="newFolder">
  </div>
  <button class="btn btn-primary mb-2" type="button" (click)="createFolder()" [disabled]="!newFolder">Add</button>
</form>